*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 255, 0, 0.645);
    
}
.tittle{
    text-align: center;
    line-height: 50px;
    font-size: 50px;
}
.contanier{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px 0 100px 0;
}
.Row1{
    background-color: #0684ebe6;
    width: 150px;
    height: 150px;
    animation: row1 2s ease  infinite alternate;
}


@keyframes row1 {
    from{
        transform: skew(30deg);

    }
    to{
        transform: skew(-30deg);

    }
}

/* Second Row Style  */

.Row2{
    background-color: rgba(5, 164, 164, 0.788);
    width: 150px;
    height: 150px;
    animation: row2 2s ease  infinite alternate;
}

@keyframes row2 {
    from{
        transform: skewY(30deg);

    }
    to{
        transform: skewY(-30deg);

    }
}

/* Third Row Style  */
.Row3{
    background-color: rgba(5, 74, 171, 0.788);
    width: 150px;
    height: 150px;
    animation: row3 2.5s ease-in infinite ;
}
@keyframes row3 {
    0%{
       transform: rotate(0deg); 
    }
    100%{ 
        transform: rotate(360deg) ;

    }
    
}

/* Fourth row Style  */

.col{
    width: 150px;
    height: 150px;
}

.col1{
    background-color: #0684ebe6;
    animation: col1 2.5s ease infinite alternate-reverse;
    border: 3px solid blue;
}
.col2{
    background-color: rgba(130, 4, 4, 0.788);
    animation: col2 2.5s ease infinite alternate-reverse;
    border: 3px solid red;
}
.col3{
    background-color: rgba(63, 171, 5, 0.668);
    animation: col3 2.5s ease infinite alternate-reverse;
    border: 3px solid green;
}

@keyframes col1 {
    from{
        transform: scale(1,0.2);
    }
    to{
        transform: scale(1,1);
    }
    
}

@keyframes col2 {
    from{
        transform: scale(0.2,1);
    }
    to{
        transform: scale(1,1);
    }
    
}

@keyframes col3 {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(90deg);
    }
    
}
a{
    text-align: center;
    font-size: 50px;
}



/* index2 Style  */
.main-contanier{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    /* justify-content: baseline; */
}
.child{
    background-color: green;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    transition: 3s ease;

}
.child:hover{
    width: 600px;
    height: 200px;
}
.max-width{
    transition: 3s ease;
}
.max-width:hover{
    width: 400px;
    height: 500px;
}

.blue{
    color: blue;
}

/* index3 Style  */

.body{
    border: 10px solid;
    border-color: white green white red;
}
.sky{
    background-image: url(./img/sky.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.headertext{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-size: 50px;
}
.HAPPY{
    background-color: orange;
}
.INDEPENDENCE{
    background-color: #ffff;
}
.DAY{
    background-color: green;
}
.road{
    background-image: url(./img/road.jpg);
    position: absolute;
    z-index: 2;
    width: 500000000%;
    height: 300px;
    bottom: 0px;
    animation: highway 5s infinite linear;
}
.city{
    background-image: url(./img/city.png);
    background-position: center;
    position: absolute;
    z-index: 2;
    width: 10000000%;
    height: 200px;
    bottom: 300px;
    animation: city 4s infinite linear;
}
@keyframes city {
    100%{
        transform: translateX(-1000px);
    }
    
}
@keyframes highway {
    100%{
        transform: translateX(-4000px);
    }
}

.car{
    background-image: url(./img/car.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 3;
    width: 500px;
    height: 200px;
    bottom: 200px;
    left: 453px;
    /* transform: translate(-50%); */
    animation: car 0.5s ease infinite alternate;
}
@keyframes car {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-4px);   
    }
    
}

.Left_Wheel{
    width: 95px;
    position: absolute;
    z-index: 3;
    bottom: 197px;
    left: 494px;
    animation: rotate 0.2s linear infinite;
}
.right_Wheel{
    width: 95px;
    position: absolute;
    z-index: 3;
    bottom: 198px;
    right: 511px;
    animation: rotate 0.2s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
    
}
.sun{
    background-image: url(./img/sunc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 200px;
    top: 50px;
    right: 160px;
}
.flag{
    background-image: url(./img/Tiranga1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
    right: 500px;
    bottom: 315px;
}
